<ul class="social_icons rounded_social">
  {% if block.settings.social_icon_1_name != blank %}
  <li><a href="{{ block.settings.social_icon_1_link }}" class="icon-{{ block.settings.social_icon_1_name }}"><i class="{{ block.settings.social_icon_1_name }}"></i></a></li>
  {% endif %}
  {% if block.settings.social_icon_2_name != blank %}
  <li><a href="{{ block.settings.social_icon_2_link }}" class="icon-{{ block.settings.social_icon_2_name }}"><i class="{{ block.settings.social_icon_2_name }}"></i></a></li>
  {% endif %}
  {% if block.settings.social_icon_3_name != blank %}
  <li><a href="{{ block.settings.social_icon_3_link }}" class="icon-{{ block.settings.social_icon_3_name }}"><i class="{{ block.settings.social_icon_3_name }}"></i></a></li>
  {% endif %}
  {% if block.settings.social_icon_4_name != blank %}
  <li><a href="{{ block.settings.social_icon_4_link }}" class="icon-{{ block.settings.social_icon_4_name }}"><i class="{{ block.settings.social_icon_4_name }}"></i></a></li>
  {% endif %}
  {% if block.settings.social_icon_5_name != blank %}
  <li><a href="{{ block.settings.social_icon_5_link }}" class="icon-{{ block.settings.social_icon_5_name }}"><i class="{{ block.settings.social_icon_5_name }}"></i></a></li>
  {% endif %}
</ul>