<footer class="footer_dark" id="section-{{ section.id }}">
	<div class="footer_top">
        <div class="container{% if section.settings.fullwidth_on %}-fluid{%endif%}">
            <div class="row">
              	{% for block in section.blocks %}
                {% case block.type %}
              	{% when 'contact_info' %}
                <div class="col-lg-{{ block.settings.contact_info_col_lg }} col-md-{{ block.settings.contact_info_col_md }} col-sm-12">
                	<div class="widget">
                        {% if block.settings.contact_info_title != '' %}
                        <h6 class="widget_title">{{ block.settings.contact_info_title }}</h6>
                        {% endif %}
                        <ul class="contact_info contact_info_light">
                          <li>
                            <i class="{{ block.settings.footer_info_1_icon }}"></i>
                            <p>{{ block.settings.about_contact_info_dti }}</p>
                          </li>
                          <li>
                            <i class="{{ block.settings.footer_info_2_icon }}"></i>
                            <a href="mailto:{{ block.settings.about_email_add }}">{{ block.settings.about_email_add }}</a>
                          </li>
                          <li>
                            <i class="{{ block.settings.footer_info_3_icon }}"></i>
                            <p>{{ block.settings.about_telephon_num }}</p>
                          </li>
                        </ul>
                    </div>
                    {% if block.settings.footer_social_enable %}
                    <div class="widget widget-2">
                      {% include 'footer-social-media-3' %}
                    </div>
                    {%- endif -%}
        		</div>
                {% when 'footer_menu' %}
                <div class="col-lg-{{ block.settings.menu_col_lg }} col-md-{{ block.settings.menu_col_md }} col-sm-6">
                	<div class="widget">
                      	{% if block.settings.footer_menu_title != '' %}
                        <h6 class="widget_title">{{ block.settings.footer_menu_title }}</h6>
                      	{% endif %}
                        <ul class="widget_links">
                          {% assign footer_menu = block.settings.footer_menu_handle %}
                          {% for link in linklists[footer_menu].links %}
                          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                          {% endfor %}
                        </ul>
                    </div>
                </div>
                {% when 'newsletter' %}
                <div class="col-lg-{{ block.settings.newsletter_col_lg }} col-md-{{ block.settings.newsletter_col_md }} col-sm-12">
                  <div class="widget">
                    {% if block.settings.newsletter_title != '' %}
                    <h6 class="widget_title">{{ block.settings.newsletter_title }}</h6>
                    {% endif %}
                    {% if block.settings.newsletter_desc != '' %}
                    <p>{{ block.settings.newsletter_desc }}</p>
                    {% endif %}
                    {%- if settings.newsletter_system == 'by_shopify_form' -%}
          
                    {%- assign formId = 'Contact_' | append: section.id -%}
                    {%- form 'customer', id: formId -%}
                    {%- if form.posted_successfully? -%}
                    <p class="form-message form-message--success form-success">{{ 'general.newsletter_form.confirmation'| t }}</p>
                    {%- else -%}

                    {%- if form.errors -%}
                    <div class="form-message form-message--error">
                      {{ form.errors | default_errors }}
                    </div>
                    {%- endif -%}

                    <div class="newsletter_form rounded_input newsletter-form mc_embed_signup">
                        <div id="mc_embed_signup_scroll" class="mc-form">
                          <input type="hidden" name="contact[tags]" value="newsletter">
                          <input class="email form-control" type="email" name="contact[email]" id="Email" value="{% if customer %}{{ customer.email }}{% endif %}"
                             placeholder="{{ section.settings.email_placeholder }}" aria-label="{{ section.settings.email_placeholder }}" {% if form.errors %}aria-invalid="true"{% endif %} autocorrect="off" autocapitalize="off">
                          <button id="Subscribe" type="submit" name="commit" class="default-btn btn-send"><i class="icon-envelope-letter"></i></button>
                      </div>
                    </div>
                    {%- endif -%}
                    {%- endform -%}      


                    {%- elsif settings.newsletter_system == 'by_mailchimp' -%}
                    <div class="newsletter_form rounded_input newsletter-form mc_embed_signup">
                      <form action="{{ settings.newsletter_action }}" method="post" id="mc-form" name="mc-embedded-subscribe-form" class="validate newsletter-form validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll" class="mc-form">
                          <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="{{ section.settings.email_placeholder }}" required>
                          <button id="mc-embedded-subscribe" type="submit" name="subscribe" class="default-btn btn-send"><i class="icon-envelope-letter"></i></button>
                        </div>
                      </form> 
                      <div class="mailchimp-alerts">
                        <div class="mailchimp-submitting"></div>
                        <div class="mailchimp-success"></div>
                        <div class="mailchimp-error"></div>
                      </div>
                    </div>
                    {%- endif -%}
                  </div>
                </div>
              
                {% endcase %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="bottom_footer border-top-tran">
        <div class="container">
            <div class="row">
              	{% if section.settings.copy_ritht_text != '' %}
                <div class="col-md-6">
                    <p class="mb-md-0 text-center text-md-left">{{ section.settings.copy_ritht_text }}</p>
                </div>
              	{% endif %}
              	{% if section.settings.payment_icon_enable %}
                <div class="col-md-6">
                    <ul class="footer_payment text-center text-lg-right">
                        <li><a href="#">
                          <img src="{% if section.settings.payment_icon %}{{ section.settings.payment_icon | img_url: 'master' }}
                      {% else %}https://via.placeholder.com/413x27 {% endif %}" alt="{{ section.settings.brand_image.alt }}">
                          </a></li>
                    </ul>
                </div>
              	{% endif %}
            </div>
        </div>
    </div>
</footer>