<div class="home_review_section swiper">
    <div class="hr_slider swiper-wrapper">
        {% for block in section.blocks %}
            <div class="hr_slider_item swiper-slide">
                <div class="hr_slider_wrapper">
                    <h2 class="hr_title">{{ block.settings.title }}</h2>
                    <span class="hr_subtitle">{{ block.settings.subtitle }}</span>
                    <p class="hr_body">{{ block.settings.review }}</p>
                    <div class="hr_slider_bottom">
                        <div class="hr_author_info">
                            {% if block.settings.photo != blank %}    
                                <div class="hr_author_img">
                                    <img src="{{ block.settings.photo | img_url: 'master' }}">
                                </div>
                            {% endif %}
                            <div class="hr_author_main_info">
                                <h4 class="hr_author_name">{{ block.settings.author_name }}</h4>
                                <div class="hr_author_raiting">
                                    {% if block.settings.starts == 'low' %}
                                        <svg width="98" height="16" viewBox="0 0 98 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.39698 0.415095C9.07583 -0.138364 8.27657 -0.138366 7.95542 0.415095L5.69371 4.31285C5.53506 4.58626 5.26086 4.77283 4.9483 4.82004L0.709709 5.46023C-0.0021935 5.56775 -0.25191 6.46659 0.302511 6.92592L3.46009 9.54194C3.75237 9.7841 3.88981 10.1661 3.8188 10.5389L2.99283 14.8766C2.86226 15.5622 3.58208 16.095 4.19971 15.7698L8.19088 13.6683C8.49466 13.5083 8.85774 13.5083 9.16151 13.6683L13.1527 15.7698C13.7703 16.095 14.4901 15.5622 14.3596 14.8766L13.5336 10.5389C13.4626 10.1661 13.6 9.7841 13.8923 9.54194L17.0499 6.92592C17.6043 6.46659 17.3546 5.56775 16.6427 5.46023L12.4041 4.82004C12.0915 4.77283 11.8173 4.58626 11.6587 4.31285L9.39698 0.415095Z" fill="#F78E27"/>
                                            <path d="M29.397 0.415095C29.0758 -0.138364 28.2766 -0.138366 27.9554 0.415095L25.6937 4.31285C25.5351 4.58626 25.2609 4.77283 24.9483 4.82004L20.7097 5.46023C19.9978 5.56775 19.7481 6.46659 20.3025 6.92592L23.4601 9.54194C23.7524 9.7841 23.8898 10.1661 23.8188 10.5389L22.9928 14.8766C22.8623 15.5622 23.5821 16.095 24.1997 15.7698L28.1909 13.6683C28.4947 13.5083 28.8577 13.5083 29.1615 13.6683L33.1527 15.7698C33.7703 16.095 34.4901 15.5622 34.3596 14.8766L33.5336 10.5389C33.4626 10.1661 33.6 9.7841 33.8923 9.54194L37.0499 6.92592C37.6043 6.46659 37.3546 5.56775 36.6427 5.46023L32.4041 4.82004C32.0915 4.77283 31.8173 4.58626 31.6587 4.31285L29.397 0.415095Z" fill="#F78E27"/>
                                            <path d="M49.397 0.415095C49.0758 -0.138364 48.2766 -0.138366 47.9554 0.415095L45.6937 4.31285C45.5351 4.58626 45.2609 4.77283 44.9483 4.82004L40.7097 5.46023C39.9978 5.56775 39.7481 6.46659 40.3025 6.92592L43.4601 9.54194C43.7524 9.7841 43.8898 10.1661 43.8188 10.5389L42.9928 14.8766C42.8623 15.5622 43.5821 16.095 44.1997 15.7698L48.1909 13.6683C48.4947 13.5083 48.8577 13.5083 49.1615 13.6683L53.1527 15.7698C53.7703 16.095 54.4901 15.5622 54.3596 14.8766L53.5336 10.5389C53.4626 10.1661 53.6 9.7841 53.8923 9.54194L57.0499 6.92592C57.6043 6.46659 57.3546 5.56775 56.6427 5.46023L52.4041 4.82004C52.0915 4.77283 51.8173 4.58626 51.6587 4.31285L49.397 0.415095Z" fill="#F78E27"/>
                                            <path d="M69.397 0.415095C69.0758 -0.138364 68.2766 -0.138366 67.9554 0.415095L65.6937 4.31285C65.5351 4.58626 65.2609 4.77283 64.9483 4.82004L60.7097 5.46023C59.9978 5.56775 59.7481 6.46659 60.3025 6.92592L63.4601 9.54194C63.7524 9.7841 63.8898 10.1661 63.8188 10.5389L62.9928 14.8766C62.8623 15.5622 63.5821 16.095 64.1997 15.7698L68.1909 13.6683C68.4947 13.5083 68.8577 13.5083 69.1615 13.6683L73.1527 15.7698C73.7703 16.095 74.4901 15.5622 74.3596 14.8766L73.5336 10.5389C73.4626 10.1661 73.6 9.7841 73.8923 9.54194L77.0499 6.92592C77.6043 6.46659 77.3546 5.56775 76.6427 5.46023L72.4041 4.82004C72.0915 4.77283 71.8173 4.58626 71.6587 4.31285L69.397 0.415095Z" fill="#F78E27" style="opacity: 0.5"/>
                                            <path d="M89.397 0.415095C89.0758 -0.138364 88.2766 -0.138366 87.9554 0.415095L85.6937 4.31285C85.5351 4.58626 85.2609 4.77283 84.9483 4.82004L80.7097 5.46023C79.9978 5.56775 79.7481 6.46659 80.3025 6.92592L83.4601 9.54194C83.7524 9.7841 83.8898 10.1661 83.8188 10.5389L82.9928 14.8766C82.8623 15.5622 83.5821 16.095 84.1997 15.7698L88.1909 13.6683C88.4947 13.5083 88.8577 13.5083 89.1615 13.6683L93.1527 15.7698C93.7703 16.095 94.4901 15.5622 94.3596 14.8766L93.5336 10.5389C93.4626 10.1661 93.6 9.7841 93.8923 9.54194L97.0499 6.92592C97.6043 6.46659 97.3546 5.56775 96.6427 5.46023L92.4041 4.82004C92.0915 4.77283 91.8173 4.58626 91.6587 4.31285L89.397 0.415095Z" fill="#F78E27" style="opacity: 0.5"/>
                                        </svg>                                
                                    {% elsif  block.settings.starts == 'medium' %}
                                        <svg width="98" height="16" viewBox="0 0 98 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.39698 0.415095C9.07583 -0.138364 8.27657 -0.138366 7.95542 0.415095L5.69371 4.31285C5.53506 4.58626 5.26086 4.77283 4.9483 4.82004L0.709709 5.46023C-0.0021935 5.56775 -0.25191 6.46659 0.302511 6.92592L3.46009 9.54194C3.75237 9.7841 3.88981 10.1661 3.8188 10.5389L2.99283 14.8766C2.86226 15.5622 3.58208 16.095 4.19971 15.7698L8.19088 13.6683C8.49466 13.5083 8.85774 13.5083 9.16151 13.6683L13.1527 15.7698C13.7703 16.095 14.4901 15.5622 14.3596 14.8766L13.5336 10.5389C13.4626 10.1661 13.6 9.7841 13.8923 9.54194L17.0499 6.92592C17.6043 6.46659 17.3546 5.56775 16.6427 5.46023L12.4041 4.82004C12.0915 4.77283 11.8173 4.58626 11.6587 4.31285L9.39698 0.415095Z" fill="#F78E27"/>
                                            <path d="M29.397 0.415095C29.0758 -0.138364 28.2766 -0.138366 27.9554 0.415095L25.6937 4.31285C25.5351 4.58626 25.2609 4.77283 24.9483 4.82004L20.7097 5.46023C19.9978 5.56775 19.7481 6.46659 20.3025 6.92592L23.4601 9.54194C23.7524 9.7841 23.8898 10.1661 23.8188 10.5389L22.9928 14.8766C22.8623 15.5622 23.5821 16.095 24.1997 15.7698L28.1909 13.6683C28.4947 13.5083 28.8577 13.5083 29.1615 13.6683L33.1527 15.7698C33.7703 16.095 34.4901 15.5622 34.3596 14.8766L33.5336 10.5389C33.4626 10.1661 33.6 9.7841 33.8923 9.54194L37.0499 6.92592C37.6043 6.46659 37.3546 5.56775 36.6427 5.46023L32.4041 4.82004C32.0915 4.77283 31.8173 4.58626 31.6587 4.31285L29.397 0.415095Z" fill="#F78E27"/>
                                            <path d="M49.397 0.415095C49.0758 -0.138364 48.2766 -0.138366 47.9554 0.415095L45.6937 4.31285C45.5351 4.58626 45.2609 4.77283 44.9483 4.82004L40.7097 5.46023C39.9978 5.56775 39.7481 6.46659 40.3025 6.92592L43.4601 9.54194C43.7524 9.7841 43.8898 10.1661 43.8188 10.5389L42.9928 14.8766C42.8623 15.5622 43.5821 16.095 44.1997 15.7698L48.1909 13.6683C48.4947 13.5083 48.8577 13.5083 49.1615 13.6683L53.1527 15.7698C53.7703 16.095 54.4901 15.5622 54.3596 14.8766L53.5336 10.5389C53.4626 10.1661 53.6 9.7841 53.8923 9.54194L57.0499 6.92592C57.6043 6.46659 57.3546 5.56775 56.6427 5.46023L52.4041 4.82004C52.0915 4.77283 51.8173 4.58626 51.6587 4.31285L49.397 0.415095Z" fill="#F78E27"/>
                                            <path d="M69.397 0.415095C69.0758 -0.138364 68.2766 -0.138366 67.9554 0.415095L65.6937 4.31285C65.5351 4.58626 65.2609 4.77283 64.9483 4.82004L60.7097 5.46023C59.9978 5.56775 59.7481 6.46659 60.3025 6.92592L63.4601 9.54194C63.7524 9.7841 63.8898 10.1661 63.8188 10.5389L62.9928 14.8766C62.8623 15.5622 63.5821 16.095 64.1997 15.7698L68.1909 13.6683C68.4947 13.5083 68.8577 13.5083 69.1615 13.6683L73.1527 15.7698C73.7703 16.095 74.4901 15.5622 74.3596 14.8766L73.5336 10.5389C73.4626 10.1661 73.6 9.7841 73.8923 9.54194L77.0499 6.92592C77.6043 6.46659 77.3546 5.56775 76.6427 5.46023L72.4041 4.82004C72.0915 4.77283 71.8173 4.58626 71.6587 4.31285L69.397 0.415095Z" fill="#F78E27"/>
                                            <path d="M89.397 0.415095C89.0758 -0.138364 88.2766 -0.138366 87.9554 0.415095L85.6937 4.31285C85.5351 4.58626 85.2609 4.77283 84.9483 4.82004L80.7097 5.46023C79.9978 5.56775 79.7481 6.46659 80.3025 6.92592L83.4601 9.54194C83.7524 9.7841 83.8898 10.1661 83.8188 10.5389L82.9928 14.8766C82.8623 15.5622 83.5821 16.095 84.1997 15.7698L88.1909 13.6683C88.4947 13.5083 88.8577 13.5083 89.1615 13.6683L93.1527 15.7698C93.7703 16.095 94.4901 15.5622 94.3596 14.8766L93.5336 10.5389C93.4626 10.1661 93.6 9.7841 93.8923 9.54194L97.0499 6.92592C97.6043 6.46659 97.3546 5.56775 96.6427 5.46023L92.4041 4.82004C92.0915 4.77283 91.8173 4.58626 91.6587 4.31285L89.397 0.415095Z" fill="#F78E27" style="opacity: 0.5"/>
                                        </svg>                                
                                    {% elsif  block.settings.starts == 'high' %}
                                        <svg width="98" height="16" viewBox="0 0 98 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.39698 0.415095C9.07583 -0.138364 8.27657 -0.138366 7.95542 0.415095L5.69371 4.31285C5.53506 4.58626 5.26086 4.77283 4.9483 4.82004L0.709709 5.46023C-0.0021935 5.56775 -0.25191 6.46659 0.302511 6.92592L3.46009 9.54194C3.75237 9.7841 3.88981 10.1661 3.8188 10.5389L2.99283 14.8766C2.86226 15.5622 3.58208 16.095 4.19971 15.7698L8.19088 13.6683C8.49466 13.5083 8.85774 13.5083 9.16151 13.6683L13.1527 15.7698C13.7703 16.095 14.4901 15.5622 14.3596 14.8766L13.5336 10.5389C13.4626 10.1661 13.6 9.7841 13.8923 9.54194L17.0499 6.92592C17.6043 6.46659 17.3546 5.56775 16.6427 5.46023L12.4041 4.82004C12.0915 4.77283 11.8173 4.58626 11.6587 4.31285L9.39698 0.415095Z" fill="#F78E27"/>
                                            <path d="M29.397 0.415095C29.0758 -0.138364 28.2766 -0.138366 27.9554 0.415095L25.6937 4.31285C25.5351 4.58626 25.2609 4.77283 24.9483 4.82004L20.7097 5.46023C19.9978 5.56775 19.7481 6.46659 20.3025 6.92592L23.4601 9.54194C23.7524 9.7841 23.8898 10.1661 23.8188 10.5389L22.9928 14.8766C22.8623 15.5622 23.5821 16.095 24.1997 15.7698L28.1909 13.6683C28.4947 13.5083 28.8577 13.5083 29.1615 13.6683L33.1527 15.7698C33.7703 16.095 34.4901 15.5622 34.3596 14.8766L33.5336 10.5389C33.4626 10.1661 33.6 9.7841 33.8923 9.54194L37.0499 6.92592C37.6043 6.46659 37.3546 5.56775 36.6427 5.46023L32.4041 4.82004C32.0915 4.77283 31.8173 4.58626 31.6587 4.31285L29.397 0.415095Z" fill="#F78E27"/>
                                            <path d="M49.397 0.415095C49.0758 -0.138364 48.2766 -0.138366 47.9554 0.415095L45.6937 4.31285C45.5351 4.58626 45.2609 4.77283 44.9483 4.82004L40.7097 5.46023C39.9978 5.56775 39.7481 6.46659 40.3025 6.92592L43.4601 9.54194C43.7524 9.7841 43.8898 10.1661 43.8188 10.5389L42.9928 14.8766C42.8623 15.5622 43.5821 16.095 44.1997 15.7698L48.1909 13.6683C48.4947 13.5083 48.8577 13.5083 49.1615 13.6683L53.1527 15.7698C53.7703 16.095 54.4901 15.5622 54.3596 14.8766L53.5336 10.5389C53.4626 10.1661 53.6 9.7841 53.8923 9.54194L57.0499 6.92592C57.6043 6.46659 57.3546 5.56775 56.6427 5.46023L52.4041 4.82004C52.0915 4.77283 51.8173 4.58626 51.6587 4.31285L49.397 0.415095Z" fill="#F78E27"/>
                                            <path d="M69.397 0.415095C69.0758 -0.138364 68.2766 -0.138366 67.9554 0.415095L65.6937 4.31285C65.5351 4.58626 65.2609 4.77283 64.9483 4.82004L60.7097 5.46023C59.9978 5.56775 59.7481 6.46659 60.3025 6.92592L63.4601 9.54194C63.7524 9.7841 63.8898 10.1661 63.8188 10.5389L62.9928 14.8766C62.8623 15.5622 63.5821 16.095 64.1997 15.7698L68.1909 13.6683C68.4947 13.5083 68.8577 13.5083 69.1615 13.6683L73.1527 15.7698C73.7703 16.095 74.4901 15.5622 74.3596 14.8766L73.5336 10.5389C73.4626 10.1661 73.6 9.7841 73.8923 9.54194L77.0499 6.92592C77.6043 6.46659 77.3546 5.56775 76.6427 5.46023L72.4041 4.82004C72.0915 4.77283 71.8173 4.58626 71.6587 4.31285L69.397 0.415095Z" fill="#F78E27"/>
                                            <path d="M89.397 0.415095C89.0758 -0.138364 88.2766 -0.138366 87.9554 0.415095L85.6937 4.31285C85.5351 4.58626 85.2609 4.77283 84.9483 4.82004L80.7097 5.46023C79.9978 5.56775 79.7481 6.46659 80.3025 6.92592L83.4601 9.54194C83.7524 9.7841 83.8898 10.1661 83.8188 10.5389L82.9928 14.8766C82.8623 15.5622 83.5821 16.095 84.1997 15.7698L88.1909 13.6683C88.4947 13.5083 88.8577 13.5083 89.1615 13.6683L93.1527 15.7698C93.7703 16.095 94.4901 15.5622 94.3596 14.8766L93.5336 10.5389C93.4626 10.1661 93.6 9.7841 93.8923 9.54194L97.0499 6.92592C97.6043 6.46659 97.3546 5.56775 96.6427 5.46023L92.4041 4.82004C92.0915 4.77283 91.8173 4.58626 91.6587 4.31285L89.397 0.415095Z" fill="#F78E27"/>
                                        </svg>                                
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="hr_slider_navigation">
                            <div class="hr_slide_prev">
                                <svg width="10" height="17" viewBox="0 0 10 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.79929 1.13821C9.27524 1.61417 9.27524 2.38583 8.79929 2.86179L3.16107 8.5L8.79929 14.1382C9.27524 14.6142 9.27524 15.3858 8.79929 15.8618C8.32333 16.3377 7.55166 16.3377 7.07571 15.8618L0.575714 9.36179C0.0997621 8.88583 0.0997621 8.11416 0.575714 7.63821L7.07571 1.13821C7.55166 0.662262 8.32333 0.662262 8.79929 1.13821Z" fill="#697287"/>
                                </svg>                                    
                            </div>
                            <div class="hr_slide_next">
                                <svg width="10" height="17" viewBox="0 0 10 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.20071 15.8618C0.724762 15.3858 0.724762 14.6142 1.20071 14.1382L6.83893 8.5L1.20072 2.86179C0.724763 2.38583 0.724763 1.61416 1.20072 1.13821C1.67667 0.662261 2.44834 0.662261 2.92429 1.13821L9.42429 7.63821C9.90024 8.11417 9.90024 8.88584 9.42429 9.36179L2.92429 15.8618C2.44834 16.3377 1.67667 16.3377 1.20071 15.8618Z" fill="#697287"/>
                                </svg>                                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script>
        const reviewSlider = new Swiper('.home_review_section', {
            speed: 400,
            spaceBetween: 100,
            slidesPerView: 1,
            navigation: {
                    nextEl: '.hr_slide_next',
                    prevEl: '.hr_slide_prev',
            },
        });
</script>

<style>
    .home_review_section{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 90px 0 100px;
    }
    .hr_slider_item{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .hr_slider_wrapper{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 1000px;
        padding: 0 50px;
    }
    .hr_title{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 54px;
        text-align: center;
        letter-spacing: -0.035em;
        color: #000000;
        margin: 0;
    }
    .hr_subtitle{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 32px;
        text-align: center;
        color: #697287; 
        margin: 0 0 50px;
    }
    .hr_body{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 170.5%;
        color: #000000;
        margin: 0;
    }
    .hr_author_info{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
    }
    .hr_slider_bottom{
        display: flex;
        margin-top: 30px;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    .hr_slide_next{
        margin-left: 43px;
    }
    .hr_slide_next:hover svg path, .hr_slide_prev:hovere svg path{
        fill: #F78E27;
    }
    .hr_slider_navigation{
        display: flex;
    }
    .hr_slider_navigation div:hover > svg path{
        fill: #F78E27;
    }
    .hr_author_img{
        width: 72px;
        height: 72px;
        border-radius: 100%;
        margin-right: 17px;
    }
    .hr_author_img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .hr_author_main_info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .hr_author_name{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 21px;
        line-height: 32px;
        letter-spacing: -0.035em;
        color: #000000;
        margin: 0 0 9px;
    }
    @media screen and (max-width:768px) {
        .hr_title{
            font-size: 26px;
            line-height: 34px;
        }
        .hr_subtitle{
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 25px;
        }
        .hr_body{
            font-size: 18px;
            line-height: 32px;
        }
        .hr_slider_wrapper{
            padding: 0 15px;
        }
        .home_review_section{
            padding: 45px 0 55px;
        }
    }
</style>

{% schema %}
{
  "name": "Review slider",
  "settings": [
  ],
  "blocks":[
    {
        "type": "item",
        "name": "Review",
        "settings": [

        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "subtitle",
            "label": "SubTitle"
        },
        {
            "type": "textarea",
            "id": "review",
            "label": "Review text"
        },
        {
            "type": "image_picker",
            "id": "photo",
            "label": "Photo"
        },
        {
            "type": "text",
            "id": "author_name",
            "label": "Name"
        },
        {
            "type": "select",
            "id": "starts",
            "label": "Star raiting",
            "options": [
                {
                    "value": "low",
                    "label": "Low"
                },
                {
                    "value": "medium",
                    "label": "Medium"
                },
                {
                    "value": "high",
                    "label": "High"
                }
            ]
        }
        ]
    }
   ],
  "presets": [
    {
      "name": "Review slider"
    }
  ]
}
  {% endschema %}
