<!-- START SECTION SHOP -->
<div class="section small_pt small_pb" data-section="owlcarouselajax" id="section-{{ section.id }}">
	<div class="{% if section.settings.fullwidth_on %}custom-container {% else %}container{%endif%}">
    	<div class="row">
        	<div class="col-xl-{{ section.settings.banner_column_xl }} d-none d-xl-block">
            	<div class="sale-banner">
                  <a class="hover_effect1" href="{{ section.settings.banner_url }}">
                    <img class="lazyload" src="{% if section.settings.banner_image %}{{ section.settings.banner_image | img_url: 'master' }}
                              {% else %}https://via.placeholder.com/385x535 {% endif %}" alt="{{ section.settings.banner_image.alt }}">
                  </a>
                </div>
            </div>
        	<div class="col-xl-{{ section.settings.product_column_xl }}">
              	{% if section.settings.section_title != '' %}
                <div class="row">
                    <div class="col-12">
                        <div class="heading_tab_header">
                            <div class="heading_s2">
                                <h4>{{ section.settings.section_title }}</h4>
                            </div>
                            <div class="view_all">
                            	<a href="{{ section.settings.banner_url }}" class="text_default"><i class="linearicons-power"></i> <span>{{ section.settings.view_all }}</span></a>
                            </div>
                        </div>
                    </div>
                </div>
              	{% endif %}
                <div class="row">
                    <div class="col-12">
                        <div class="trending_product_with_banner product_slider carousel_slider owl-carousel owl-theme dot_style1" 
                             data-owl-carousel='{
                              "loop": true,
                              "margin": 20,                 
                              {%- if settings.rtl_enable -%}
                              "rtl": true, 
                              {%- endif -%}
                              "items": 4,
                              "navText": ["<i class=&#x27;ion-ios-arrow-left&#x27;></i>","<i class=&#x27;ion-ios-arrow-right&#x27;></i>"],
                              "responsive":{
                                  "0":{"items": "1"}, "481":{"items": "2"}, "768":{"items": "3"}, "991":{"items": "4"}
                              }}'>
                          <!-- product-item start -->
                          {% assign featured_product = collections[section.settings.featured_product_collection] %}
                          {% assign featured_product_limit = section.settings.featured_product_limit_handle %}  

                          {%- if featured_product == empty -%}
                          {% assign a = 1 %}
                          {% for i in (1..featured_product_limit) %}

                          {% assign product_item = "product-" | append: a  %}
                          {% assign a = a | plus: 1 %}
                          <div class="item" style="margin-bottom: 30px;">
                            <div>
                              <div>
                                {{ product_item | placeholder_svg_tag: 'product-svg-image' }}
                              </div>
                              <h6>
                                Product Title
                              </h6>
                              <div class="">
                                <span>$99.99</span>
                              </div>
                            </div>
                          </div>
                          {% if a == 7 %}
                          {% assign a = 1 %}
                          {% endif %}
                          {% endfor %}

                          {%- else -%}
                          {% for product in featured_product.products limit: featured_product_limit %}
                          <div class="item">
                            {% include 'product-grid-item' %}
                          </div>
                          {% endfor %}
                          {%- endif -%}
                        </div>
                    </div>
                </div>
        	</div>
        </div>
    </div>
</div>
<!-- END SECTION SHOP -->




{%- include 'section-style' -%}


{% schema %}
  {
    "name": "Trending Product & Banner",
    "settings": [
		{
          "type": "header",
          "content": "Banner Width Control"
        },
        {
          "type": "checkbox",
          "id": "fullwidth_on",
          "label": "Full Width Enable",
          "default": true,
          "info": "If you want Full Width click checkbox"
        },
		{
			"type": "header",
            "content": "Banner Column"
        },
		{
          "type": "select",
          "id": "banner_column_xl",
          "label": "Extra Large Devices",
		  "options":[
				{
                    "label": "1",
                    "value": "1"
                },
                {
                    "label": "2",
                    "value": "2"
                },
                {
                    "label": "3",
                    "value": "3"
                },
				{
                    "label": "4",
                    "value": "4"
                },
                {
                    "label": "5",
                    "value": "5"
                },
                {
                    "label": "6",
                    "value": "6"
                },
				{
                    "label": "7",
                    "value": "7"
                },
                {
                    "label": "8",
                    "value": "8"
                },
                {
                    "label": "9",
                    "value": "9"
                },
				{
                    "label": "10",
                    "value": "10"
                },
                {
                    "label": "11",
                    "value": "11"
                },
                {
                    "label": "12",
                    "value": "12"
                }
			],
			"default": "3"
      	},
		{
			"type": "header",
            "content": "Banner Image"
        },
        {
          "type": "image_picker",
          "id": "banner_image",
          "label": "Banner Image"
        },
        {
          "type": "url",
          "id": "banner_url",
          "label": "Banner URL",
          "default": "\/collections\/all"
        },
		{
			"type": "header",
            "content": "Product Column"
        },
		{
          "type": "select",
          "id": "product_column_xl",
          "label": "Extra Large Devices",
		  "options":[
				{
                    "label": "1",
                    "value": "1"
                },
                {
                    "label": "2",
                    "value": "2"
                },
                {
                    "label": "3",
                    "value": "3"
                },
				{
                    "label": "4",
                    "value": "4"
                },
                {
                    "label": "5",
                    "value": "5"
                },
                {
                    "label": "6",
                    "value": "6"
                },
				{
                    "label": "7",
                    "value": "7"
                },
                {
                    "label": "8",
                    "value": "8"
                },
                {
                    "label": "9",
                    "value": "9"
                },
				{
                    "label": "10",
                    "value": "10"
                },
                {
                    "label": "11",
                    "value": "11"
                },
                {
                    "label": "12",
                    "value": "12"
                }
			],
			"default": "9"
      	},
		{
		  "type": "header",
          "content": "Product Grid Style"
        },
		{
          "type": "select",
          "id": "product_grid_style",
          "label": "Product Grid Style",
          "options":[
            {
              "value":"product",
              "label": "Style One"
            },
            {
              "value":"product_box",
              "label": "Style Two"
            },
            {
              "value":"product_wrap",
              "label": "Style Three"
            }
          ],

          "default": "product"
         },
		 {
          "type": "select",
          "id": "product_aline",
          "label": "Product Align",
          "options":[
            {
              "value":"text-left",
              "label": "Left Align"
            },
            {
              "value":"text-right",
              "label": "Right Align"
            },
            {
              "value":"text-center",
              "label": "Center Align"
            },
			{
              "value":"default-align",
              "label": "Default"
            }
          ],

          "default": "default-align"
         },
		{
		  "type": "header",
          "content": "Section Heading"
        },
		{
          "type": "text",
          "id": "section_title",
          "label": "Section Title",
          "default": "Trending products"
      	},
		{
		  "type": "header",
          "content": "Offer Time"
        },
		{
          "type": "text",
          "id": "view_all",
          "label": "View All Button",
          "default": "View All"
      	},
		{
			"type": "header",
            "content": "Product"
        },
		{
			"type": "collection",
            "id": "featured_product_collection",
            "label": "Select Collection"
        },
		{
            "type": "range",
            "id": "featured_product_limit_handle",
            "min": 2,
            "max": 40,
            "step": 1,
            "label": "Limit",
            "default": 8
        },
		{
          "type": "select",
          "id": "service_aline",
          "label": "Service Align",
          "options":[
            {
              "value":"left_al",
              "label": "Left"
            },
            {
              "value":"right_al",
              "label": "Right"
            },
            {
              "value":"center_al",
              "label": "Center"
            }
          ],

          "default": "center_al"
         }
    ],
	"blocks":[
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Trending Product & Banner",
		  "category": "4. product",
		  "blocks":[

			]
		}
	]
  }
{% endschema %}
